body {
  margin: 0px;
  padding: 0px;
}

.head {
  background: #2d89e6;
  margin: 0px;
}

.head .head1 {
  margin: 0px;
  border: 0px;
  text-align: center;
  padding: 10px;
}

.left {
  border: 5px;
  border-color: #ff4a4a;
  border: solid 1.2px #a8a7a7;
  border-radius: 25px;
  margin: 10px;
  margin-right: 0px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 34px;
  float: left;
}

.left input {
  display: block;
  border-radius: 10px;
}

.left h3 {
  text-align: center;
}

.left .left-main {
  border-color: #a8a7a7;
}

.left .left-main input {
  width: 350px;
  height: 40px;
  margin: 12px;
  border-radius: 15px;
}

.left .left-main option {
  width: 350px;
  height: 40px;
  margin: 12px;
  border-radius: 15px;
}

.left .left-main p {
  display: inline;
  font-size: 12px;
}

.left .left-main .add1 {
  display: inline;
  width: 15px;
  height: 12px;
  border-radius: 0px;
  border-color: #a8a7a7;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-right: 2px;
  border: #a1a1a1 solid 2px;
}

.left .left-main .add2 {
  display: inline;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 60px;
  height: 15px;
  border-radius: 0px;
  border-color: #a8a7a7;
  margin-left: 2px;
  border: #a1a1a1 solid 2px;
}

.left .left-main .final {
  height: 130px;
}

.left .left-main button {
  color: #f6f6f6;
  font-size: 18px;
  background: #2d89e6;
  width: 400px;
  height: 50px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0px;
  display: block;
}

.left .left-main .placeholder {
  -webkit-padding-start: 8px;
          padding-inline-start: 8px;
}

.left .left-main #select {
  width: 360px;
  height: 40px;
  margin: 12px;
  border-radius: 15px;
  display: block;
}

.left .left-main #select1 {
  width: 60px;
  height: 40px;
  margin: 12px;
  border-radius: 15px;
  display: block;
}

.right {
  float: right;
  width: 800px;
  height: 600px;
  margin-right: 90px;
  background: #a8a7a7;
  overflow: scroll;
}

.right .nav-right {
  background: #2d89e6;
  display: inline;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-top: 30px;
}

.right .first-right {
  height: 10xp;
  width: 20px;
}

.right .second-right {
  height: 10xp;
  width: 40px;
}

.right .third-right {
  height: 10xp;
  width: 40px;
}

.right fourth-right {
  margin-right: 20px;
}

.right .design {
  margin: 10px;
}

.right .nav-left {
  float: left;
  background: #2d89e6;
  margin: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: inline;
  margin-left: 0px;
  width: 600px;
}

.right .nav-left label {
  margin-left: 30px;
}

.right .nav-right {
  background: #2d89e6;
  margin: 30px;
  display: inline;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: 0px;
}

.right .nav-right .membernumber {
  padding: 10px;
  background: #2d89e6;
  margin-left: 0px;
  margin: 0px;
  margin-top: 15px;
  margin-left: 680px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.right .membernumber {
  margin-top: 20px;
}

.right .person-content {
  padding: 14px;
}
/*# sourceMappingURL=team-member.css.map */