
$headcolor : #2d89e6;
$iconcolor : #ff4a4a;
$bordercolor: #a8a7a7;
$contentbg: #f6f6f6; 
.head{
    background: $headcolor;
    margin: 0px;
    .head1{
        margin: 0px;
        border: 0px;
        text-align: center;
    }
    
} 
.left{
    float: left;
     input{
        display: block;
        border-radius: 5px;
    }
    h3{
        text-align: center;
    }
    
    .left-main{
        border-color:$bordercolor;
        border-radius: 5px;
        input{
            width: 350px;
            height: 30px;
            margin: 12px;
           

        }
        p{
            display: inline;
            font-size: 12px;
        }
        .add1{
            display: inline;
            width: 15px;
            height: 12px;
            border-radius: 0px;
            border-color: $bordercolor;
            box-shadow: none;
            margin-right: 2px;
           
        }
        .add2{
            display: inline;
            box-shadow: none;

            width: 60px;
            height: 15px;
            border-radius: 0px;
            border-color: $bordercolor;
            margin-left: 2px;
            

           
        }
        .final{
            height: 200px;
        }
        button{
            color: $contentbg;
            font-size: 18px;
            background: $headcolor;
            width: 350px;
            height: 50px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            margin: 12px;
            display: block;

        }
       
    }
}


.right{
    float: right;
  width: 900px;
    height: 600px;
    margin-right: 40px;
    background: #a8a7a7;
    .nav-right{
    background: $headcolor;
    display: inline;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 30px;
   
   }
    
    
    .first-right{
        height: 10xp;
        width: 15px;

    }
    .design{
margin: 10px;


}
.nav-left{
    float: left;
    background: $headcolor;
    margin: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline;
    margin-left: 0px;

}

.nav-right{
   
    background: $headcolor;
   

   
 
    margin: 30px;

    display: inline;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 0px;
    
    .membernumber{
        background: $headcolor;
        margin: 10px;
        margin-left: 0px;
        

    }
    
   }

}
