
$headcolor : #2d89e6;
$iconcolor : #ff4a4a;
$bordercolor: #a8a7a7;
$contentbg: #f6f6f6; 
body{
    margin : 0px;
    padding: 0px;



}
.head{
    background: $headcolor;
    margin: 0px;
    .head1{
        margin: 0px;
        border: 0px;
        text-align: center;
        padding: 10px;
    }
    
} 
.left{
    border: 5px;
    border-color: $iconcolor;
    border: solid 1.2px $bordercolor;
    border-radius: 25px;
    margin: 10px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 34px;



    float: left;
     input{
        display: block;
        border-radius: 10px;
    }
    h3{
        text-align: center;
    }
    
    .left-main{
        border-color:$bordercolor;
        // padding-inline-start: 10px;
      
        input{
            width: 350px;
            height: 40px;
            margin: 12px;
            border-radius: 15px;
           
        }
        p{
            display: inline;
            font-size: 12px;
        }
        .add1{
            display: inline;
            width: 15px;
            height: 12px;
            border-radius: 0px;
            border-color: $bordercolor;
            box-shadow: none;
            margin-right: 2px;
            border:  #a1a1a1 solid 2px;
           
        }
        .add2{
            display: inline;
            box-shadow: none;
            width: 60px;
            height: 15px;
            border-radius: 0px;
            border-color: $bordercolor;
            margin-left: 2px;
            border:  #a1a1a1 solid 2px;
            

           
        }
        .final{
            height:130px;
           

        }
        button{
            color: $contentbg;
            font-size: 18px;
            background: $headcolor;
            width: 400px;
            height: 50px;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
           border: 0px;
            display: block;

        }
        .placeholder{
            padding-inline-start: 10px;
        }
      
    }
}


.right{
    float: right;
  width: 800px;
    height: 600px;
    margin-right: 90px;
    background: #a8a7a7;
    overflow: scroll;
    .nav-right{
    background: $headcolor;
    display: inline;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 30px;
    

   
   }
    
    
    .first-right{
        height: 10xp;
        width: 20px;

    }
    .second-right{
        height: 10xp;
        width: 40px;


    }
    .third-right{
        height: 10xp;
        width: 40px;


    }
    fourth-right{
        margin-right: 20px;
    }
    .design{
margin: 10px;


}
.nav-left{
    
    float: left;
    background: $headcolor;
    margin: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline;
    margin-left: 0px;

    width: 600px;
    label{
        margin-left: 30px;
    }
}

.nav-right{
    

   
    background: $headcolor;
    margin: 30px;
    display: inline;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 0px;
    // height: 30px;
    .membernumber{
        padding: 10px;
        background: $headcolor;
        // text-justify: unset;

     
        margin-left: 0px;
        margin: 0px;
      margin-top: 15px;

      margin-left: 680px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
        

    }
    
   }
   .membernumber{
       margin-top: 20px;
   }


   .person-content{
       padding: 14px;

   }
}
